:root {
  /* primary colors */
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  /* neutral */
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
  /* a color */
  --attribution-a: hsl(228, 45%, 44%);
}

body {
  background-color: var(--main-background);
  margin: 0;
  padding: 0;
}

main {
  margin: 90px auto;
  max-width: 325px;
  background-color: var(--card-background);
  border-radius: 10px;
}

.img {
  background-image: url(../images/image-header-mobile.jpg);
  background-size: cover;
  max-width: 100%;
  height: 250px;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.img:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  position: absolute;
  opacity: 0.4;
  border-radius: 10px 10px 0 0;
}

.subtitle {
  color: var(--main-heading-stats);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 20px;
  font-size: 20px;
}

span {
  color: var(--accent);
}

.paragraph {
  color: var(--stat-headings);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0 20px;
  text-align: center;
  font-size: 16px;
}

.views {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
}

div h1 {
  color: var(--main-heading-stats);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 12px 0 6px 0;
  text-align: center;
}

div h6 {
  color: var(--stat-headings);
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 0 12px 0;
  text-align: center;
}

@media (min-width: 300px) {
  main {
    max-width: 280px;
  }

  .img {
    height: 200px;
  }

  .subtitle {
    margin: 0 12px;
    font-size: 16px;
  }
  .paragraph {
    margin: 0 12px;
    font-size: 12px;
  }
  .views {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div h1 {
    margin: 10px 0 4px 0;
  }

  div h6 {
    padding: 0 0 10px 0;
  }
}
